.modal.disconnect-modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.text-center.modal-hublin
      .modal-header
        h4 #{__('Connection lost')}
      .modal-body
        p=__('The connection to %s has been interrupted.', 'hubl.in')
        p=__('Your browser is attempting to reconnect, but you may also reload the page in order to try again')
      .modal-footer
        div
          i.fa.fa-refresh.fa-spin.icon-label
          | #{__('Reconnecting')}
        button.toolong.btn.btn-primary(ng-show='toolong' type='button', ng-click='reloadPage()')
          | #{__('Too long? Try reloading')}
