.hublin-browser-authorization-dialog.full-modal.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-content.vertical-center
    .close-modal.hidden-xs(data-dismiss='modal')
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body

            i.fa.fa-long-arrow-up.fa-5x.hidden-xs
            h2.hidden-xs #{__('Warning')}

            .top
              p.item-intro.text-muted #{__('Please allow your browser to use you camera and microphone')}
              p
                | #{__('You might disallow sharing your devices, but other members will not be able to see or hear you.')}
            button.hidden-xs.btn.btn-primary(type='button', data-dismiss='modal')
              i.fa.fa-times
              | &nbsp;
              | #{__('Close')}

        .bottom.visible-xs
          p.item-intro.text-muted #{__('Please allow your browser to use you camera and microphone')}
          p
            | #{__('You might disallow sharing your devices, but other members will not be able to see or hear you.')}
