.modal.report-modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.left.modal-hublin
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4(class='modal-title') #{__('Report')} {{reportedSnapshot.displayName}}
      .modal-body
        .row
          form(name='reportForm')
            label #{__('Description:')}
            textarea(class='form-control', ng-required='true', ng-trim='true', ng-maxlength= 'MAX_REPORT_DESCRIPTION_LENGTH', rows='5', name='reportText', ng-model='reportedText', placeholder="#{__('Enter a description for the report')}")
        .row
          span.bg-danger(class="error", ng-show="reportForm.reportText.$error.maxlength")
            i(class="fa fa-exclamation-triangle") &nbsp; #{__('The description is limited to %s characters.','{{MAX_REPORT_DESCRIPTION_LENGTH}}')}
          #reporterror
      .modal-footer
        button.btn.btn-default(data-dismiss='modal') #{__('Cancel')}
        button.btn.btn-primary(ng-click='sendReport()', ng-disabled='reportForm.reportText.$invalid') #{__('Send')}
