.hublin-unsupported.well
  a.hublin-title-brand(href='https://hubl.in/') Hubl.in
  p= __('Your browser seems to not be compatible.')
  p= __('Please upgrade your browser experience to a compatible browser:')
  ul.list-inline
    li
      a(href='https://www.getfirefox.com/')
        img(src='/images/firefox.png', alt='Firefox')
    li
      a(href='https://www.google.com/chrome/browser/')
        img(src='/images/chrome.png', alt='Google Chrome')
    li
      a(href='http://www.opera.com/')
        img(src='/images/opera.png', alt='Opera')
  p=  __('Hubl.in is using WebRTC technology to provide its incredible video conference experience. Unfortunately, not all internet browsers are compatible with WebRTC technology at the moment.')
  p!= __j('Information on compatibility can be found on %s.', "a(href='http://caniuse.com/#feat=rtcpeerconnection') caniuse.com")
  p!= __j('You may also want to read more about %s.', "a(href='http://www.webrtc.org/') WebRTC")
  p!= __j('Go back to %s', "a(href='https://hubl.in/') Hubl.in")
