.modal.invite-modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal-lg
    .modal-content.text-center.modal-hublin
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.hidden-xs #{__('Invite your contacts to join the room')}
        h4.visible-xs #{__('Invite your contacts')}
      .modal-body
        p #{__('Feeling lonely? Your conference could use a few more attendees.')}
        h5 #{__('Send invitations via email')}
        .row
          .col-xs-10.col-xs-offset-1
            form(name='inviteForm')
              div.input-group(ng-class='{ "has-error": formHasError(inviteForm) }')
                input.form-control(type='text', name='inviteText', ng-model='inviteText', placeholder="#{__('Please enter an email address')}",
                bs-typeahead='', ng-options='item.id for item in autocomplete($viewValue)', invitation-dialog-validate='',
                autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false')
                span.input-group-btn
                  input.btn.btn-default(type='submit', ng-disabled='inviteForm.inviteText.$invalid', ng-click='add()', value="#{__('Add')}")
          .col-xs-10.col-sm-8.col-sm-offset-2.center
            ul.invitation-user-list
              li(ng-repeat='(id,contact) in contacts')
                div(data-invitation-dialog-switch="", object-type='contact.objectType' contact='contact' remove='remove(who)')
          .row
            .col-xs-10.col-xs-offset-1
              .error
              button.btn.btn-primary(type='button', ng-disabled='contactCount < 1', ng-click='sendInvitations()')
                i.fa.fa-paper-plane
                | &nbsp;
                | #{__('Send')}
              &nbsp;
              button.btn.btn-primary(type='button', data-dismiss='modal')
                i.fa.fa-times
                | &nbsp;
                | #{__('Close')}
      .modal-footer
        span.pull-right!= __j('You can also share this link: %s', "{{conference.rawURI}}")
