doctype html
html.mail
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    style
      include:less ../css/media.less

  body
    div.wrapper
      div.logo
        img(src='cid:logo')
      div.contentwrapper
        div.content
          h1 Hi there!

          p.textinvite
            if (from.displayName === 'anonymous' || !from.displayName)
              | Someone is inviting you to join&nbsp;
              a.emphasize(href=baseUrl + '?token=' + to.token) #{conference._id}
              | , a video conference room on&nbsp;
              a.emphasize(href=baseUrl) Hubl.in
            else
              span.emphasize #{from.displayName}
              | &nbsp;invites you to join&nbsp;
              a.emphasize(href=baseUrl + '?token=' + to.token) #{conference._id}
              | , a video conference room on&nbsp;
              a.emphasize(href=baseUrl) Hubl.in

          .button
            a.hublin-link-button(href=baseUrl + '?token=' + to.token) Join the Room

          p.link
            | Or use this link:&nbsp;
            a(href=baseUrl + '?token=' + to.token) #{baseUrl}#{conference._id}

          div.footer
            h1 What is Hubl.in?
            .explain
              a(href=baseUrl) Hubl.in
              | &nbsp;is a free and open source video conference solution built with love and ethic propelled by&nbsp;
              a(href="http://open-paas.org") OpenPaaS
              |. No additional plugins are required, no advertisements, only a great experience we are pleased to share with community.
            .producer
              | Hublin is coded with love by&nbsp;
              a.linagora(href="http://linagora.com") Linagora
